:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Ajuste de colores para mejorar la legibilidad */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #80d3f7;
  /* Nuevo color para mejorar la legibilidad */
  text-decoration: none;
}

a:hover {
  color: #4abef3;
  /* Nuevo color de hover */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  /* Reducir el tamaño de la fuente para h1 */
  line-height: 1.1;
}

button {
  border-radius: 4px;
  /* Reducir la borda del botón */
  border: none;
  /* Eliminar el borde */
  padding: 0.5em 1em;
  /* Ajustar el espaciado interno */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  background-color: #333;
  /* Nuevo color de hover */
}

button:focus,
button:focus-visible {
  outline: none;
  /* Eliminar el contorno */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #0077cc;
    /* Nuevo color de hover */
  }

  button {
    background-color: #f0f0f0;
    /* Nuevo color de botón */
  }
}